body{
    color: darkgray;
    text-align: center;
    font-family: "Arial";
    margin: 0;
    box-sizing: border-box;
}
header{
    display :flex;
    background: sandybrown;
}
h1{
    color: darksalmon;
}
.primer-parrafo{
    color: salmon;
}
p{
    color: green;
}